{:paths ["src"]
 :deps {cheshire {:mvn/version "5.10.0"}
        clj-time {:mvn/version "0.15.2"}
        compojure {:mvn/version "1.6.1"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        ring {:mvn/version "1.8.0"}}
 :aliases {:cli {:main-opts ["-m" "records.cli"]}
           :server {:main-opts ["-m" "records.server"]}}}
